body {
  height: 100vh;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background:
      linear-gradient(217deg, rgba(196, 129, 30), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgb(115, 162, 250), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgb(130, 253, 171), rgba(0,0,255,0) 70.71%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ///// MAIN ///// */

header {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

main {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
  /* align-items: center; */
}

h1 {
  font-size: 75px;
  color: white;
  /* transform: rotate(15deg);
  transition: .5s ease; */
}

h1:hover {
  transform: rotate(0deg);
}

/* .container {
  position: relative;
} */

.container .card {
  border-radius: 4px;
  /* position: relative; */
  width: 225px;
  height: 200px;
  background: rgba(183, 208, 253, 0.89);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border: solid 2px palegreen;
}

.container .card .imgBx {
  position: relative;
  /* top: 10px;
  right: 10px; */
  z-index: -1;
  border: solid 2px peru;
}

.container .card .content {
  border: solid 1px pink;
}

.container .card .imgBx img {
  width: 100%;
  border-radius: 4px;
}

/* ///// FOOTER ///// */
footer {
  display: flex;
  justify-content: center;
}
