* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

.mainContainer {
  height: auto;
}

header {
  grid-column: 2/4;
  grid-row: 2/3;
}

.nav-bar {
  padding-right: 5%;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  background-color: rgb(48, 48, 48);
  width: 100%;
  height: 50px;
  font-size: 55px;
  line-height: 1.32;
  font-family: 'Halant', serif;
}

a {
  text-decoration: none;
  color: rgb(48, 48, 48);
}

.landing {
  padding-top: 25%;
  background-color: rgb(48, 48, 48);
  color: bisque;
}

#landing-btn {
  color: bisque;
}

.sectionTitle {
  font-family: 'Halant', serif;
  font-size: 65px;
  mix-blend-mode: difference;
}

.portfolio, .contact {
  color: rgb(95, 134, 108);
}

.resume {
  color: rgb(169, 188, 224);
}

.about {
  color: rgb(196, 129, 30);
}

