* {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Nunito', sans-serif;
}

.mainContainer {
  height: 100vh;
}

header {
  grid-column: 2/4;
  grid-row: 2/3;
}

.nav {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

.sectionTitle {
  padding-left: 60px;
  font-family: 'Halant', serif;
  font-size: 65px;
}

.portfolio {
  color: rgb(95, 134, 108);
}

.resume {
  color: rgb(169, 188, 224);
}

.about {
  color: rgb(196, 129, 30);
}

.contact {
  color: rgb(1, 158, 111);
}

