body {
  margin: 0;
  background-color: rgb(169, 188, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ///// NAV ///// */

.nav {
  width: 100%;
  background-color: black;
  font-family: 'Halant', serif;
  font-size: 22px;
  display: flex;
  justify-content: space-evenly;
}

.a {
  color: rgb(95, 134, 108);
}

.r {
  color: rgb(169, 188, 224);
}

.p {
  color: rgb(196, 129, 30);
}

.c {
  color: rgb(194, 153, 92);
}

a {
  text-decoration: none;
}

.hover:hover {
  color: white;
  transition: color ease .5s;
}

/* ///// MAIN ///// */

.main-container {
  height: auto;
  width: 55%;
  margin-top: 2%;
  margin-bottom: 5%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 2fr 8fr;
  background-color: whitesmoke;
  box-shadow: 10px 10px 5px 1px rgba(68, 68, 90, 0.233);
}

.main-container header {
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 25px;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-start;
}

.main-container .contact-info {
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(40, 57, 88);
  color: white;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-align: center;
}

.contact-info i {
  padding-top: 30px;
}

.contact-info h4 {
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  font-family: 'Courier Prime', monospace;
  font-size: 20px;
  letter-spacing: 7px;
}

.main-container .history {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.history h3 {
  color: rgb(40, 57, 88);
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(40, 57, 88);
  font-family: 'Courier Prime', monospace;
  letter-spacing: 5px;
}

#picture {
  margin-bottom: 20px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 2px 5px 1px rgba(68, 68, 90, 0.329);
}

header {
  padding-right: 20px;
  color: rgb(40, 57, 88);
  display: flex;
  flex-direction: column;
}

.bio p {
  font-size: 13px;
  margin-top: 0;
  padding-top: 35px;
  border-top: solid rgb(40, 57, 88) 2px;
}

#name {
  margin-bottom: 0;
  color: rgb(40, 57, 88);
  text-transform: uppercase;
  font-family: 'Candal', sans-serif;
  font-size: 50px;
  padding-bottom: 15px;
  line-height: 60px;
  letter-spacing: 3px;
}

h2 {
  color: #2A0A5A;
  font-family: 'Courier Prime', monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title, .subtitle {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  line-height: 14px;
}

.title {
  font-weight: 400;
}

.subtitle {
  font-weight: 200;
}

p, li {
  font-size: 13.5px;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* ///// RESPONSIVE ///// */

@media (min-width: 320px) {
  .main-container {
    width: 95%;
  } 
  #picture {
    width: 125px;
    height: 125px;
  }
}

@media (min-width: 992px) {
  .main-container {
    max-width: 8.5in;
  }  
  #picture {
    width: 200px;
  height: 200px;
  }
}

