* {
  box-sizing: border-box;
  margin: 0;
}

body { 
  background-color: rgb(95, 134, 108);
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: 'Halant', serif;
}

p {
  font-family: 'Nunito';
}

/* ///// NAV ///// */

.nav {
  background-color: black;
  font-family: 'Halant', serif;
  font-size: 22px;
  display: flex;
  justify-content: space-evenly;
}

.a {
  color: rgb(95, 134, 108);
}

.r {
  color: rgb(169, 188, 224);
}

.p {
  color: rgb(196, 129, 30);
}

.c {
  color: rgb(194, 153, 92);
}

a {
  text-decoration: none;
}

.hover:hover {
  color: white;
  transition: color ease .5s;
}

/* ///// CARDS ///// */

.container {
  margin-top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.container .card {
  border-radius: 4px;
  position: relative;
  max-width: 300px;
  height: 215px;
  background: rgb(188, 219, 198);
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.container .card:hover {
  height: 300px;
  background: rgb(223, 223, 223);
}

.container .card .imgBx {
  position: relative;
  width: 260px;
  height: 230px;
  top: -60px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.container .card .imgBx img {
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: rgb(48, 48, 48);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

#landing {
  height: 100%;
}